<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  <link rel="stylesheet" href="form.css">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
  <h1 class="store-name">Los Tiliches De la Sra. Narcisa</h1>

  <nav class="navbar">
    <ul class="menu">
      <li class="dropdown">
        <a href="marketplace.ejs">Women</a>
        <ul class="dropdown-menu">
          <li><a href="/marketplace.ejs">Tops</a></li>
          <li><a href="#">Bottoms</a></li>
          <li><a href="#">Dresses</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Children</a>
        <ul class="dropdown-menu">
          <li><a href="#">Tops</a></li>
          <li><a href="#">Bottoms</a></li>
          <li><a href="#">All other</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Footware</a>
        <ul class="dropdown-menu">
          <li><a href="#">Womens</a></li>
          <li><a href="#">Mens</a></li>
          <li><a href="#">Childrens</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <section class="form-section">
    <div class="form-card">
      <h2>We'd love to hear from you!</h2>
      <form>
        <label for="name">Item Name</label>
        <input type="text" id="name" name="name" placeholder="Item name" required>

        <label for="image">Image Url</label>
        <input type="image" id="image" name="Image" placeholder="Image URL" required>

        <label for="price">Price</label>
        <textarea id="price" name="price" placeholder="Price" rows="5" required></textarea>

        <label for="description">Image Url</label>
        <input type="image" id="image" name="Image" placeholder="Image URL" required>

        <button type="submit">Send</button>

        <% for (let i = 0; i < items.length; i++) { %>
   <button onclick="deleteItem('<%= items[i]._id %>')">Delete</button>

   <form onsubmit="editItem(event, '<%= itemsArray[i]._id %>')">
     <input name="name" value="<%= itemsArray[i].name %>" />
     <input name="name" type="string" value="<%= itemsArray[i].name %>" />
     <button type="submit">Update</button>

<% } %>
      </form>
    </div>
  </section>
  <script src ="script.js"></script>
</body>
</html>
